#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#script-src {
  font-style: italic;
}

#script-pane {
  font-family: monospace;
  width: 48em;
}

#output-pane {
  font-family: monospace;
  width: 48em;
}

#form-3p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
}