* {
  box-sizing: border-box;
}

:root {
  --blackish: #151515;
  --whitish: #d4d4d4;
  --offWhite: #aaa;
  --blueish: #569cd6;
  --redish: #ce9178;
  --darkRed: #de6555;
  --darkGrey: #303030;
  --medGrey: #404040;
  --lightGrey: #8a8a8a;
  --greenish: #608b4e;
}

h1, h2, h3 {
  text-shadow: 0 0 2px var(--blueish);
}

body {
  min-height: 98vh;
  padding-top: 0;
  color: var(--whitish);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGrey);
}

body a {
  color: var(--blueish);
  text-shadow: 0 0 1.5px var(--offWhite);
}

body a:hover {
  filter: blur(0.2px) saturate(2);
}

.hidden {
  display: none;
}

.button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 8px;
  padding: 1em;
  background-color: unset;
  color: var(--blueish);
  box-shadow: 0 0 2.5px 1px inset var(--blueish);
}

.button:hover {
  filter: blur(0.2px) saturate(2);
}

@media (max-width: 480px) {
  .container {
    min-height: 97vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40em;
  background-color: var(--blackish);
  border-radius: 8px;
  padding-top: .75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-shadow: 0 0 3px 1px var(--lightGrey);
}

.container.dev-mode {
  max-width: 55em;
}

.doc {
  width: 100%;
}

.doc pre {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

.doc blockquote {
  background-color: var(--medGrey);
  padding: 0 1em;
  border: 1px solid var(--lightGrey);
  box-shadow: 0 0 2.5px 1px var(--lightGrey);
  border-radius: 8px;
  margin: 0.25em 0.5em;
}

.script-header, .script, .script-controls, .script-output {
  width: 100%;
}

.script-header {
  height: 2.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.script-title {
  align-content: center;
  font-weight: bold;
  font-size: larger;
  text-shadow: 0 0 2px var(--blueish);
}

.dev-mode-button {
  margin-left: auto;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  padding: 0.2em;
}

.dev-mode .dev-mode-button {
  color: var(--greenish);
  box-shadow: 0 0 2.5px 1px inset var(--greenish);
}

.script-desc {
  background-color: var(--medGrey);
  white-space: pre-wrap;
  word-wrap: anywhere;
  font-family: serif;
  font-size: large;
  padding: 1em;
  box-shadow: 0 0 2.5px 1px var(--offWhite);
}

.mobile-warning {
  display: none;
  color: var(--redish);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 2.5px 1px var(--darkRed);
}

@media (max-width: 480px) {
  .dev-mode .mobile-warning {
    display: flex;
  }
}

.script-editor {
  display: none;
  width: 100%;
  height: 25em;
  margin-bottom: 1em;
  box-shadow: 0 0 2.5px 1px var(--greenish);
}

.script-editor.error {
  box-shadow: 0 0 2.5px 1px var(--darkRed);
}

.dev-mode .script-editor {
  display: flex;
  width: 100%;
}

.files-label {
  display: inline-block;
  position: relative;
  height: 3em;
  width: 100%;
}

.files-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.files-panel-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.files-label:hover .files-panel {
  filter: blur(0.2px) saturate(2);
}

.files-label input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.output-term {
  width: 100%;
  height: 10em;
  padding: 1em;
  font-family: monospace;
  background-color: var(--medGrey);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--darkGrey) var(--medGrey);
  box-shadow: 0 0 2.5px 1px var(--offWhite);
}

.output-term.error {
  box-shadow: 0 0 2.5px 1px var(--darkRed);
}

#form-3p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
  max-width: 90%;
}
